/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styles */
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-pic {
    width: 300px;
    border-radius: 50%;
    margin-right: 20px;
    padding: 30px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    font-size: 18px;
    margin: 5px 0;
}

/* Navigation Styles */
.nav-menu {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center; /* Centra los elementos del menú */
}

.nav-menu li {
    margin: 0 10px; /* Espacio entre los elementos del menú */
}


nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    gap: 15px;
    align-items: center;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #e8491d;
}

/* Section Styles */
section {
    padding: 20px 0;
}

section h2 {
    color: #35424a;
    margin-bottom: 20px;
    border-bottom: 2px solid #e8491d;
    padding-bottom: 10px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Social Icons Styles */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    padding: 20px;
}

.social-icons a {
    color: inherit;
    margin: 0 15px;
}



/* .social-icons a:hover {
    color: inherit;
} */

/* Specific Icon Colors */
.icon-linkedin i:hover {
    color: #0077b5;
}

.icon-github i:hover {
    color: #333;
}

.icon-scholar i:hover  {
    color: #4caf50;
}

.icon-email i:hover {
    color: #d44638;
}
